@model EntityLayer.Concrete.Content

@{
    ViewBag.Title = "AddContent";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}



@using (Html.BeginForm("AddContent", "UserPanelContent", FormMethod.Post))
{
    <div class="form-group">
        <input type="hidden" name="HeadingID" value="@ViewBag.d" />
        
        @Html.Label("İçeriğinizi Yazın")
        @Html.TextAreaFor(x => x.ContentValue,10,30, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ContentValue)
        <br />
        <button class="btn btn-danger">Kaydet</button>

    </div>

}

